.circle {
  width: 100vw;
  height: 50vh;
  position: relative;
}

.voice-circle {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -107.5px;
  margin-left: -107.5px;
  -webkit-animation: circle-animation 6.3s infinite;
          animation: circle-animation 6.3s infinite;
  opacity: 0;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}

.shadow {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin-top: -223px;
  margin-left: -220.5px;
  -webkit-animation: circle-animation 6.3s infinite;
          animation: circle-animation 6.3s infinite;
  opacity: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.waves {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -384.5px;
  margin-left: -407px;
  -webkit-animation: wave-animation 6.3s infinite;
          animation: wave-animation 6.3s infinite;
  opacity: .5;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.dots {
  transition: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.dots .dot1,
.dots .dot1-blur {
  opacity: 0;
  -webkit-animation: dot1-animation 6.3s infinite;
          animation: dot1-animation 6.3s infinite;
}

.dots .dot2,
.dots .dot2-blur {
  opacity: 0;
  -webkit-animation: dot2-animation 6.3s infinite;
          animation: dot2-animation 6.3s infinite;
}

@-webkit-keyframes circle-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  31.75% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95.25% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes circle-animation {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  31.75% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  95.25% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes dot1-animation {
  0% {
    opacity: 0;
  }
  31.75% {
    opacity: 0;
  }
  95.25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot1-animation {
  0% {
    opacity: 0;
  }
  31.75% {
    opacity: 0;
  }
  95.25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes dot2-animation {
  0% {
    opacity: 0;
  }
  31.75% {
    opacity: 1;
  }
  95.25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot2-animation {
  0% {
    opacity: 0;
  }
  31.75% {
    opacity: 1;
  }
  95.25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes wave-animation {
  0% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31.75% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  95.25% {
    opacity: 1;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  97% {
    opacity: .5;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes wave-animation {
  0% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  31.75% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  95.25% {
    opacity: 1;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  97% {
    opacity: .5;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: .5;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 425px) {
  .circle {
    height: 70vh;
  }
}

*:focus {
  outline: none;
}

html {
  font-size: 10px;
  background: #260038;
}

h1, div, a, button, input, p {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-weight: 300;
}

.intro,
.subscribe {
  font-weight: 500;
}

a,
button,
input,
p {
  font-weight: 400;
}

.page-wrap {
  background: linear-gradient(to top, #3D005B, #000000);
  background-size: 200% 200%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  -webkit-animation: bg 6s infinite;
          animation: bg 6s infinite;
}

@-webkit-keyframes bg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -50rem -50rem;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -50rem -50rem;
  }
  100% {
    background-position: 0 0;
  }
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.heading .logo {
  width: 200px;
  height: 63px;
  background-color: #FF0041;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .logo:hover {
  text-decoration: none;
}

.heading span {
  margin-left: 10px;
  font-size: 2.4rem;
  color: #000000;
}

.content-wrap {
  margin-top: -65px;
  width: 100%;
}

.main,
.footer {
  position: relative;
  z-index: 100;
}

.main {
  text-align: center;
  padding: 25px 0;
}

.main h1 {
  font-size: 3.2rem;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.main .intro {
  font-size: 2rem;
  line-height: 2.9rem;
  color: #FFFFFF;
  margin: 0 auto 25px auto;
  max-width: 650px;
}

.main .subscribe {
  font-size: 2rem;
  line-height: 2.9rem;
  color: #FFFFFF;
  margin-bottom: 25px;
}

form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

form .btn {
  border: 2px solid #FF0041;
  background-color: #FF0041;
  padding: 13px 15px;
  color: #000000;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s ease-in;
}

form .btn:hover {
  background-color: transparent;
  color: #FF0041;
}

form input {
  padding: 13px 15px;
  color: #000000;
  font-size: 1.6rem;
  border-radius: 4px;
  border: none;
  width: 260px;
  transition: .3s ease-in;
}

form input:focus {
  box-shadow: 0 0 10px #FFFFFF;
}

form input::-webkit-input-placeholder {
  color: #000000;
}

form input::-moz-placeholder {
  color: #000000;
}

form input:-ms-input-placeholder {
  color: #000000;
}

form input::placeholder {
  color: #000000;
}

.footer .line {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(143, 111, 159, 0.5), rgba(255, 255, 255, 0.01));
  width: 100%;
  height: 1px;
  max-width: 550px;
  margin: 0 auto 25px auto;
}

.footer .social-media {
  text-align: center;
  margin-bottom: 20px;
}

.footer .social-media a {
  padding: 12px;
  font-size: 1.4rem;
  color: #8F6F9F;
}

.footer p {
  font-size: 1.4rem;
  color: #8F6F9F;
  text-align: center;
}

.footer p:last-child {
  margin-bottom: 40px;
}

.modal {
  padding-left: 0 !important;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  max-width: 540px;
}

@media (max-width: 768px) {
  .modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-content {
  padding: 90px 0;
  background-color: #2C0E3A;
  border-radius: 1rem;
  text-align: center;
}

.modal-content .success {
  display: none;
}

.modal-content .success .icon {
  border: 2px solid #00BF9B;
}

.modal-content .success .check {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -22.5px;
}

.modal-content .success .check-mark {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.35s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.35s forwards;
}

.modal-content .success .modal-title {
  color: #00BF9B;
}

.modal-content .failure {
  display: none;
}

.modal-content .failure .icon {
  border: 2px solid #FF0041;
}

.modal-content .failure .cross {
  stroke: #FF0041;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal-content .failure .cross .first {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.35s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.35s forwards;
}

.modal-content .failure .cross .second {
  stroke-dasharray: 75;
  stroke-dashoffset: 75;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.65s forwards;
          animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.65s forwards;
}

.modal-content .failure .modal-title {
  color: #FF0041;
}

.modal-content .icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 25px auto;
  position: relative;
}

.modal-content .modal-title {
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 1.6rem;
  color: #FFFFFF;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.show {
  display: block !important;
}

@media (max-width: 425px) {
  .heading .logo {
    margin: auto;
  }
  form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .btn {
    width: 100%;
  }
  form input {
    width: 100%;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;
    text-align: center;
  }
  form input::-webkit-input-placeholder {
    text-align: center;
  }
  form input::-moz-placeholder {
    text-align: center;
  }
  form input:-ms-input-placeholder {
    text-align: center;
  }
  form input::placeholder {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .main h1 {
    font-size: 2.4rem;
  }
  .main .intro {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
  .main .subscribe {
    font-size: 1.6rem;
  }
  .footer .social-media a {
    padding: 6px;
  }
}
