$default-transition: cubic-bezier(0.25, 0.1, 0.25, 1);

.circle {
    width: 100vw;
    height: 50vh;
    position: relative;
}

.voice-circle {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-top: -107.5px;
    margin-left: -107.5px;
    animation: circle-animation 6.3s infinite;
    opacity: 0;
    transform: scale(.5);
}

.waves {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-top: -384.5px;
    margin-left: -407px; 
    animation: wave-animation 6.3s infinite;
    opacity: .3;
    transform: scale(1);
}

.dots {
    transition: $default-transition;
    .dot1,
    .dot1-blur {
        opacity: 0;
        animation: dot1-animation 6.3s infinite;
    }
    .dot2,
    .dot2-blur {
        opacity: 0;
        animation: dot2-animation 6.3s infinite;
    }    
}

@keyframes circle-animation {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    31.75% {
        opacity: 1;
        transform: scale(1);
    }
    95.25% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(.5);
    }
}
@keyframes dot1-animation {
    0% {
        opacity: 0; 
    }
    31.75% {
        opacity: 0;
    }
    95.25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes dot2-animation {
    0% {
        opacity: 0;
    }
    31.75% {
        opacity: 1;  
    }
    95.25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes wave-animation {
    0% {
        opacity: .3;
        transform: scale(1);
    }
    31.75% {
        opacity: .5;
        transform: scale(.9);
    }
    95.25% {
        opacity: .5;
        transform: scale(.5);
    }
    100% {
        opacity: .3;
        transform: scale(.2);
    }
    
}

@media (max-width: 425px) {
    .circle {
        height: 70vh;
    }
}